.menu {
    border: 1px solid aqua;
    display: flex;
}

.menu-logo {
    width: 120px;
    margin-right: 55px;
}

.menu-main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-main-item {
    font-size: 20px;
    text-transform: uppercase;
}